<div class="container container-margin">
  <div id="new-team-form">
    <div class="form-group">
      <label for="name">Team Name: </label>
      <input id="name" v-model="name" class="form-control">
      <p class="validation-error">{{ errors }}</p>

    </div>
    <div v-for="player in players" class="form-group">
      <label for="name">Player Name: </label>
      <input id="name" v-model="player.name" class="form-control">
      <label for="position">Player Position: </label>
      <input id="position" v-model="player.position" class="form-control">
    </div>
    <button v-on:click="addPlayer" class="btn btn-info">Add Player</button>
    <button v-on:click="saveTeam(name)" class="btn btn-success">Save Team</button>
  </div>
</div>