/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container-margin {
   margin-top: 40px;
 }

 .validation-error {
   color: red;
   text-transform: uppercase;
 }

 .player-form {
   width: 90%;
   margin-left: 5%;
 }

.form-label {
  text-transform: uppercase;
  color: #969696;
}

.player-show {
  text-transform: uppercase;
  font-size: 12px;
  color: #969696;
}

 @media (min-width: 768px) {
   #new-team-form {
     width: 500px;
     margin: 0 auto;
   }
 }
